html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height:100%;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
ul.top_menu {
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
.image_area{
  width: 100%;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.side_menu{
  width: 300px;
  float: left;
}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li:hover{
  opacity: 0.6;
}
.side_menu .point{
  background-color:#FCECEC;
}
.side_menu.point a{
  color: #4D4D4D;
}

.banner a:hover {
  opacity: 0.6;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}
.content{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
}
/*page business*/
.content img {
  width:100%;
}
/*page home*/
.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color:#4D4D4D;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*formulaire de contact*/
#name {
  margin-left: 40px;
  width: 480px;
}
#prenom {
  margin-left: 40px;
  width: 480px;
}

#sexe{
  margin-left: 40px;
}
#comment{
  margin-left:40px;
  width: 480px;
  height: 70px;
}
.form table td label {
  width: 150px;
  height: 7rem;
  font-weight: bold;
}
.form{
  margin-left: 30px;
}
.submit{
  background-color: blue;
  width: 100px;
  margin-left: 45%;

}
.submit:hover{
  opacity: 0.5;
  color:white;
}
